<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62914210438-o8a0mq4hjjsj95lij6tab4t4couqlac2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62914210438-o8a0mq4hjjsj95lij6tab4t4couqlac2</string>
	<key>API_KEY</key>
	<string>AIzaSyDNlScftARtz6VHyaF8ZsWQW2Q8D4b_GhI</string>
	<key>GCM_SENDER_ID</key>
	<string>62914210438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mdc2720.BusApp</string>
	<key>PROJECT_ID</key>
	<string>database-d0bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>database-d0bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62914210438:ios:b6b60bd9b63edfcff8bf07</string>
	<key>DATABASE_URL</key>
	<string>https://database-d0bcd.firebaseio.com</string>
</dict>
</plist>